

body, p
{
  margin: 0.5em 0;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #776D7E;
  background-image: url('/theme/blue/img/page_t.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover,
.art-blockheader .t, .art-vmenublockheader .t, .art-logo-text, .art-logo-text a,
h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 35px;
}

a, 
.art-post li a
{
  text-decoration: none;
  color: #36517C;
}

a:link,
.art-post li a:link
{
  text-decoration: none;
  color: #36517C;
}

a:visited, a.visited,
.art-post li a:visited, .art-post li a.visited
{

  color: #5A535F;
}

a:hover, a.hover,
.art-post li a:hover, .art-post li a.hover
{


  color: #111927;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  margin: 0.67em 0;

  color: #36517C;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  margin: 0.8em 0;
  font-size: 26px;
  color: #486BA3;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
   margin: 1em 0;
  font-size: 21px;
  color: #5A535F;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  margin: 1.25em 0;
  font-size: 18px;
  color: #192539;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  margin: 1.67em 0;
  font-size: 14px;
  color: #192539;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  margin: 2.33em 0;
  font-size: 12px;
  color: #192539;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover,
h2 a, h2 a:link, h2 a:visited, h2 a:hover,
h3 a, h3 a:link, h3 a:visited, h3 a:hover,
h4 a, h4 a:link, h4 a:visited, h4 a:hover,
h5 a, h5 a:link, h5 a:visited, h5 a:hover,
h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
    margin:0;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#art-page-background-glare
{
  position: absolute;
  width: 100%;
  height: 444px;
  left: 0;
  top: 0;
}

#art-page-background-glare-image
{
  background-image: url('/theme/blue/img/page_gl.png');
  background-repeat: no-repeat;
  height: 444px;
  width: 283px;
  margin: 0;
}

html:first-child #art-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}

#art-page-background-gradient
{
  position: absolute;
  background-image: url('/theme/blue/img/page_g.jpg');
  background-repeat: repeat-x;
  top: 0;
  width: 100%;
  height: 900px;

}

#art-page-background-gradient
{
  background-position: top left;
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 900px;
  min-width: 59px;
  min-height: 59px;
}

.art-sheet-body
{
  position: relative;
  z-index: 1;
  padding: 5px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
  z-index: -1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 74px;
  height: 74px;
  background-image: url('/theme/blue/img/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 37px, 37px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 37px, 37px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(37px, 37px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(37px, auto, auto, 37px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 37px;
  right: 37px;
  height: 74px;
  background-image: url('/theme/blue/img/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 37px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(37px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 37px;
  bottom: 37px;
  width: 74px;
  background-image: url('/theme/blue/img/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 37px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 37px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  z-index: -1;
  top: 37px;
  left: 37px;
  right: 37px;
  bottom: 37px;
  background-color: #FFFFFF;
}

.art-sheet
{
  margin-top: 10px !important;
  cursor:auto;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
  min-width: 900px;
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 890px;
  height: 150px;
  overflow: hidden;
}

div.art-header-png
{
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 890px;
  height: 150px;
  background-image: url('/theme/blue/img/header.png');
  background-repeat: no-repeat;
  background-position: left top;
}

div.art-header-jpeg
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 890px;
  height: 150px;
  background-image: url('/theme/blue/img/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Logo */
.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 39px;
  width: 869px;
}

h1.art-logo-name
{
  display: block;
  text-align: center;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 40px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #B5C5DE !important;
}

.art-logo-text
{
  display: block;
  text-align: center;
}

.art-logo-text, .art-logo-text a
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #C3D0E5 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  text-align: left;
  text-decoration: none;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 3px 3px 3px 3px;
}

.art-nav
{
  position: relative;
  height: 35px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 35px;
  background-image: url('/theme/blue/img/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 0;
}

.art-nav .r
{
  right: 0;
  width: 890px;
  clip: rect(auto, auto, auto, 890px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 29px;
  cursor: pointer;
  text-decoration: none;
}

.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 87px;
  background-image: url('/theme/blue/img/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 4px;
}

.art-menu a .r
{
  width: 408px;
  right: 0;
  clip: rect(auto, auto, auto, 404px);
}

.art-menu a .t
{
  margin-right: 10px;
  margin-left: 10px;
  color: #111927;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 29px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -29px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -29px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -29px;
}
.art-menu a:hover .t
{
  color: #000000;
}

.art-menu li:hover a .t
{
  color: #000000;
}

.art-menu li:hover>a .t
{
  color: #000000;
}

/* end MenuItem */

/* begin MenuSeparator */


.art-menu .art-menu-li-separator
{
  display: block;
  width: 7px;
  height: 29px;
}

.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 29px;
  background-image: url('/theme/blue/img/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 38px;
  width: 180px;
  overflow: hidden;
  line-height: 38px;
  background-image: url('/theme/blue/img/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #FF983D;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 38px;
  color: #472100;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #000000;
  border-color: #FF7C0A;
  background-position: 0 -38px;
}

.art-menu ul li:hover>a
{
  color: #000000;
  border-color: #FF7C0A;
  background-position: 0 -38px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #000000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin Layout */
.art-content-layout
{
  display: table;
  padding: 0;
  border: none;
  width: 890px;
}

.art-content-layout .art-content-layout
{
  width: auto;
  margin:0;
}

div.art-content-layout div.art-layout-cell, div.art-content-layout div.art-layout-cell div.art-content-layout div.art-layout-cell
{
   display: table-cell;
}

div.art-layout-cell div.art-layout-cell
{
   display: block;
}

div.art-content-layout-row
{
  display: table-row; 
}

.art-content-layout
{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}

.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/* end Layout */

/* begin Button */
.art-button-wrapper .art-button
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  text-decoration: none !important;
  color: #1C2A40 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 31px;
  height: 31px;
  margin: 0 !important;
  padding: 0 16px !important;
  overflow: visible;
  cursor: default;
  z-index: 0;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 31px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea, select
{
  vertical-align: middle;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
  color: #241100 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
  color: #EDECEE !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 93px;
  margin: 0;
  padding: 0;
  background-image: url('/theme/blue/img/button.png');
}

.art-button-wrapper .l
{
  left: 0;
  right: 7px;
}

.art-button-wrapper .r
{
  width: 403px;
  right: 0;
  clip: rect(auto, auto, auto, 396px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
  top: -31px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
  top: -62px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
}

.art-vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 5px;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  position: absolute;
  z-index: -1;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  width: 26px;
  height: 26px;
  background-image: url('/theme/blue/img/vmenublock_s.png');
}

.art-vmenublock-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.art-vmenublock-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.art-vmenublock-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.art-vmenublock-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('/theme/blue/img/vmenublock_h.png');
}

.art-vmenublock-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.art-vmenublock-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('/theme/blue/img/vmenublock_v.png');
}

.art-vmenublock-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.art-vmenublock-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.art-vmenublock-cc
{
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #E8E6EA;
}

.art-vmenublock
{
  margin: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  position: relative;
  z-index: 0;
  height: 38px;
  margin-bottom: 0;
}

.art-vmenublockheader .t
{
  height: 38px;
  color: #21314A;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 38px;	
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
  background-color: #91A9CF;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border-top: dashed 1px #D2CED4;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 90px;
  background-image: url('/theme/blue/img/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 0;
}

ul.art-vmenu a .r
{
  width: 900px;
  right: 0;
  clip: rect(auto, auto, auto, 900px);
}

ul.art-vmenu a .t
{
  display: block;
  line-height: 30px;
  color: #F8F9FC;
  padding: 0 10px 0 20px;
  font-size: 13px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -60px;
}

ul.art-vmenu a.active .t
{
  color: #2F466A;
}


ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -30px;
}

ul.art-vmenu a:hover .t
{
  color: #FFFAF5;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 16px;
  overflow: visible;
  background-image: url('/theme/blue/img/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 40px;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 16px;
  color: #36517C;
  font-size: 12px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 65px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 90px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 115px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 140px;
}


ul.art-vmenu ul li a.active
{
  color: #2F2B31;
  background-position: 25px -32px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -32px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -32px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -32px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -32px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #5A535F;
  background-position: 25px -16px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -16px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -16px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -16px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -16px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
  max-width: 230px;
}

.art-block-body
{
  position: relative;
  z-index: 1;
  padding: 5px;
	
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
  z-index: -1;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 26px;
  height: 26px;
  background-image: url('/theme/blue/img/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.art-block-tc, .art-block-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('/theme/blue/img/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('/theme/blue/img/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #E8E6EA;
}

.art-block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  position: relative;
  z-index: 0;
  height: 38px;
  margin-bottom: 0;
}

.art-blockheader .t
{
  height: 38px;
  color: #000000;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 38px;	
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 7px;
}


.art-blockcontent-body, 
.art-blockcontent-body a, 
.art-blockcontent-body li a
{
  color: #162032;

}

.art-blockcontent-body a,
.art-blockcontent-body li a
{
  color: #30486E;

}

.art-blockcontent-body a:link,
.art-blockcontent-body li a:link
{
  color: #30486E;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited,
.art-blockcontent-body li a:visited, .art-blockcontent-body li a.visited
{
  color: #867C8D;
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover,
.art-blockcontent-body li a:hover, .art-blockcontent-body li a.hover
{
  color: #D16200;
  text-decoration: none;

}

.art-blockcontent-body ul
{
  list-style-type: none;
  color: #363239;
  margin: 0;
  padding: 0;
}

.art-blockcontent-body ul li
{
  line-height: 1.25em;
}


/* end Box, BlockContent */

/* begin Box, Post */
.art-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 15px;
	width: 620px;
	visibility: visible;
}


.art-post
{
  margin: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #A29AA7;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-post h2.art-postheader, 
.art-post h2.art-postheader a, 
.art-post h2.art-postheader a:link, 
.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited, 
.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{
  margin: 0.2em 0;
  padding: 0;
  font-size: 26px;
  color: #273A59;
}

.art-post h2.art-postheader a, 
.art-post h2.art-postheader a:link, 
.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited, 
.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{
  margin: 0;
  text-align: left;
  text-decoration: none;
  color: #2F466A;
}

.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited
{

  color: #4E4752;
}


.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{


  color: #111927;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  color: #413B44;
  margin: 1em 0 1em 2em;
  padding: 0;

}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  margin: 0.2em 0;
  padding: 0;
}

.art-post ul
{
  list-style-type: none;
}

.art-post ol
{
  list-style-position: inside;

}



/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.art-postcontent blockquote p
{
  color: #312D34;

}

blockquote,
.art-postcontent blockquote
{
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 32px;
  background-color: #FFD6B3;
  background-image: url('/theme/blue/img/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:20px;
  right:20px;
  bottom:0;
  height:20px;
  background-image: url('/theme/blue/img/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:20px;
  background-image: url('/theme/blue/img/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:20px;
}

.art-footer-r
{
  right: 0;
  width:40px;
  clip: rect(auto, auto, auto, 20px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  background-color: #91A9CF;
}

.art-footer-body
{
    position:relative;
    padding: 8px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   10px;
  bottom:8px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('/theme/blue/img/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 30px;
  width: 19px;
  cursor: default;
}

.art-footer-text, .art-footer-text p
{
  margin: 0;
  padding: 0;
  text-align: center;
}

.art-footer,
.art-footer p,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
  color: #2C4163;

}

.art-footer-text
{
  min-height: 30px;
  margin: 0 10px 0 10px;
}

.art-footer a,
.art-footer a:link
{
  color: #2F466A;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #4E4752;

}

.art-footer a:hover
{
  color: #101723;


}/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #C3D0E5;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #D4D1D7;
}
/* end PageFooter */

/* begin LayoutCell, content */
.art-content-layout .art-content
{
  width: 650px;
}
.art-content-layout .art-content-wide
{
  width: 100%;
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1
{
  background-color: #C6D2E6;
  width: 230px;
	display: block;
	float: right;
}
/* end LayoutCell, sidebar1 */




.overview-table .art-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}